



<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/first.css" />
    <title>Home</title>
  </head>
  <body>
      <h1 id="title">Sign Up/ Log In</h1>

      <button  id="buttonUP" onclick="signUp()"> Sign UP</button>
			<script>
			function signUp() {
     window.location.href = '/signup'
  }
	</script>
      <button  id="buttonUP"type="submit" value="Submit"> Sign IN</button>



  </body>
</html>
